

body {
    background: $blue;
}

.map {
    @include mapBorder
}

.aboutThis {
    color: $aboutThisColor;
    text-align: center;
    font-family: Carter One;
}

.purpose {
    color: $aboutThisColor;
    text-align: center;
    font-family: Carter One;
}


.test{
    background: pink;
    @include test
}

.promo {
    background: $promoColor;
    @include promosize
}

@include mobileText