    
@mixin glasgowImg() {
    background:url("assets/images/glasgow.jpg");
     } 
@mixin edinburgeImg() {
    background:url("assets/images/edinburge.JPG");
     } 
@mixin aberdeenImg() {
    background:url("assets/images/aberdeen.JPG");
     } 
@mixin perthImg() {
    background:url("assets/images/perth.jpg");
     } 
