:root {
  --mainColor: #ff9800;
}

nav { 
    background: $lightBlue;
    height: $navbar_height;
}

button {
    @include buttonSize
}
.glasgow {
    @include glasgowImg
}
.edinburge {
    @include edinburgeImg
}

.dundee {
    @include dundeeImg
}

.aberdeen {
    @include aberdeenImg
}

span {
      background:
     linear-gradient(
       to top,
       var(--mainColor) 0%,
       var(--mainColor) 0px,
       transparent 5px
     );
    font-weight: bold;
    color:$spanColor;
    font-size: 200%;
    font-family: Carter One;
}

span:hover {
      background:
     linear-gradient(
       to top,
       var(--mainColor) 0%,
       var(--mainColor) 10px,
       transparent
     );
}

span:active {

}
