//              misc --------------------------------------------------

:root {
  --mainColor: #ff9800;
} 

nav { 
    background: $lightBlue;
    height: $navbar_height;
}

button {
    @include buttonSize
}
//                 images ---------------------------------------------- 
.glasgow {
    @include glasgowImg
}
.edinburge {
    @include edinburgeImg
}
.dundee {
    @include dundeeImg
}
.aberdeen {
    @include aberdeenImg
}
//             hover effects ------------------------------------------------------

.deskNavText {
    font-weight: bold;
    color:$spanColor;
    font-size: 200%;
    font-family: Carter One;
    @include hoverSet

}

.deskNavText:hover {
      @include hoverActive
}


//              mobile settings ----------------------------------------------------- 

.mobStyle {
    background: $blue;
    height:10vh;
    border: solid black 5px;
    text-align: center;
}

.mobileNavText {
    font-size: xx-large;
    font-weight: 900;
    font-family: Carter One;
    color: white;
}

.mobileNavText:hover {
    color: #848484;
}

.mobStyle:hover {
    background: #b9b9b9;
}